<!-- <app-header></app-header> -->
<router-outlet></router-outlet>
<app-dashboard></app-dashboard>
<!-- <app-login></app-login> -->

<!-- @defer (on timer(1000ms)) {
  <router-outlet></router-outlet>
} -->

<!-- @defer (on viewport) {
<router-outlet></router-outlet>
}@placeholder {
  <div>data is loading....</div>
} -->

<!-- @defer (on interaction) {
<router-outlet></router-outlet>
}@placeholder {
  <div>data is loading....</div>
} -->

<!-- @defer (on hover) {
<router-outlet></router-outlet>
}@placeholder {
  <div>data is loading....</div>
} -->
<!-- <app-footer></app-footer>  -->