section {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr minmax(30%, 70%) 1fr;
  background-color: orange;
  margin: 10px;
  padding: 7px;
}
.container {
  margin: 40px;
}
.type1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  /* grid-template-columns: auto auto auto auto;
  grid-template-rows: 100px 25% 1fr minmax(100px, 1fr); */
  /* grid-template-columns: repeat(3, 100px [col-start]); */
  /* border: 1px solid black; */
  border-radius: 2px;
  height: 500px;
  gap: 20px;
  grid-auto-flow: dense;

}
.item {
  border-radius: 5px;
  
}
.item:nth-child(1) {
  background-color: blueviolet;
  grid-column-start:1 ;
  grid-column-end: 2;
  grid-row-start:1 ;
  grid-row-end: 4;
}
.item:nth-child(2) {
  /* grid-column-start:2 ; */
  /* grid-column-end: 3; */
  /* grid-row-start:1 ; */
  /* grid-row-end: 4; */
  grid-column:2;
  grid-row: 1;
  background-color: rgb(46, 46, 212);
}
.item:nth-child(3) {
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 4; */
  grid-area: 4/1/5/2;
  background-color: rgb(223, 235, 60);
}
.item:nth-child(4) {
  /* grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4; */
  grid-column: 3/5;
  grid-row: 2/4;
  background-color: rgb(241, 84, 73);
}
.item:nth-child(5) {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  background-color: rgb(184, 23, 136);
  z-index: -1;
}
